
<div class="toolbar" role="banner">
  <div class="spacer text-center"></div>
</div>


<div class="contain">
  <div class="title">
    <button class="btn btn-danger">About</button>
  </div>
  <div class="head">

    <div class="head1">CORONA &nbsp;&nbsp; VIRUS &nbsp;&nbsp; TRACKER</div>

  </div>

  <div class="inputsec">
    <label for="country">Select the Country :</label>
    <select class="button1" id="country"  (change)="selectChangeHandler($event)" >
      <option selected disabled >Select the Country</option>
      <option *ngFor="let key of countries" value={{key}} >{{key}}</option>
      
    </select>
    <button class="btn btn-success" (click)="getData()">Submit</button>
    <div class="stat">
      <p *ngIf=loaded> Confirmed : {{cdata[(cdata.length)-1].Confirmed}}</p>
      <p *ngIf=loaded> Recovered: <span style="color: green;">{{cdata[(cdata.length)-1].recovered}}</span> </p>
      <p *ngIf=loaded> Deaths: <span style="color: red;">{{cdata[(cdata.length)-1].deaths}}</span> </p>

    </div>


  </div>
  <div class="chart" *ngIf=loaded><app-chart [recData]="cdata"></app-chart></div>
  <div class="footer"></div>
</div>




<router-outlet></router-outlet>